* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background:f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

  /* Aplica el fondo a toda la página */

}


.contenedor-registro {
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  height: 700px;
}

.contenedor-registro h2 {
  margin-bottom: 25px;
  text-align: center;
  color: black;
}

.grupo-formulario {
  margin-bottom: 40px;

}

.grupo-formulario label {
  display: flex;  
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
  color:black;
}

.grupo-formulario input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.grupo-formulario input:focus {
  border-color: #2ecc71;
}

.boton-registro {
  width: 100%;
  padding: 12px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.boton-registro:hover {
  background-color: #27ae60;
}

.pie-formulario {
  text-align: center;
  margin-top: 30px;
}

.pie-formulario a {
  color: #3498db;
  text-decoration: none;
  font-size: 14px;
}

.pie-formulario a:hover {
  text-decoration: underline;
}
